<div class="overlay"></div>
<div class="cart-drawer h-100">
  <div class="cart-title">
    <p class="ta-center">New customers save 10% with code WELCOME10</p>
  </div>
  <div class="cart-drawer__main oy-auto">
  </div>
</div>
