.footer {
  color: #fff;
}
.section {
  padding: 80px 0
}
.footer__logo {
  max-width: var(--logo-width);
}
.footer__nav__link {
  color: rgba(255, 255, 255, 0.85);
}
.footer__nav__link:hover {
  color: var(--color-white);
}
.footer__nav__link:active {
  color: var(--color-primary);
}