.header {
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
}
.header__icon button {
  padding: 0 !important;
  min-height: auto;
}
.header-logo {
  max-width: 187px;
  width: 100%;
}
.nav__link {
  padding: 12px 20px;
  font-size: var(--font-body-size);
  line-height: 24px;
}
.nav__item--active .nav__link__title,
.nav__item--active .nav__link__title:hover {
  color: var(--color-primary);
}
.nav__link__title {
  color: rgba(255, 255, 255, .85);
}
.nav__link__title:hover {
  color: var(--color-white);
}
.header__nav .main-nav {
  display: none;
}
.main-nav {
  display: inline-block;
  padding-top: 24px;
}
.drawer__btn-close {
  padding: 10px;
  min-height: auto;
}
.drawer__header {
  padding: 12px 12px 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.drawer__overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.65);
  transition: ease .3s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  max-width: 100%;
}
.drawer__overlay.active {
  opacity: 1;
  visibility: visible;
}
.drawer__wapper {
  background-color: var(--color-page-background);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 375px;
  width: 100%;
  z-index: 2;
  transform: translateX(100%);
}
.drawer__wapper.active {
  transform: translateX(0)
}

@media (min-width: 1025px) {
  .header {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .header__nav .main-nav {
    display: flex;
  }
  .header-logo,
  .header__logo {
    max-width: 240px;
  }
  .main-nav {
    padding-top: 0;
  }
  .nav__link {
    padding: 12px 16px;
  }
  .drawer__overlay {
    display: none;
  }
  .nav__item {
    font-weight: 400;
  }
  .nav__item--active {
    font-weight: 700;
  }
  .drawer__body .main-nav {
    display: none;
  }
}