.header {
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
}
.header__nav {
  flex: 1 1 auto;
}
.header__icon button {
  padding: 0 !important;
  min-height: auto;
}
.nav__link {
  padding: 20px 16px;
  font-size: var(--font-body-size);
  line-height: 24px;
}
.nav__link__title {
  color: rgba(var(--color-white), .85);
}
.nav__link__title:hover {
  color: var(--color-white);
}
.nav__item--active {
  color: var(--color-primary);
}

@media (min-width: 1025px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header__menu {
    display: flex;
  }
}
