/*------------------------------------*\
  #GENERAL
\*------------------------------------*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul ul,
ul ol,
ol ul,
ol ol {
  padding-left: 16px;
}
.ls-none {
  list-style: none;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
thead th {
  border-bottom: 1px solid var(--color-divider);
}
th,
td {
  padding: 16px 12px;
}
table tr {
  border-bottom: 1px solid var(--color-bg-line);
}
table tr:hover {
  background-color: var(--color-hover-item);
}
table::-webkit-scrollbar {
  display: none;
}
/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100%;
  margin: 0;
  font-size: var(--font-body-size);
  line-height: calc(var(--font-body-size) * 1.5);
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  color: var(--color-text-inverse);
  background: var(--color-page-background);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.ctnr {
  width: min(var(--container-width),100%);
  padding: 0 var(--gutter-container);
  margin: 0 auto;
}
.rw {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--gutter));
}
.clm {
  flex: 1 0 auto;
  padding: 0 var(--gutter);
  width: calc(var(--grid-ratio, 100%/12) * var(--w-xs));
  max-width: calc(var(--grid-ratio, 100%/12) * var(--w-xs));
}

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
.headline,
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  line-height: 1.25;
  margin: 0 0 calc(var(--gutter-base) / 2);
}
.headline {
  font-size: calc(var(--heading-1) * var(--type-scale));
}
.h1,
h1 {
  font-size: var(--heading-1);
}
.h2,
h2 {
  font-size: var(--heading-2);
}
.h3,
h3 {
  font-size: var(--heading-3);
}
.h4,
h4 {
  font-size: var(--heading-4);
}
.h5,
h5 {
  font-size: var(--heading-5);
}
/*------------------------------------*\
* SPACING
\*------------------------------------*/
.m-auto {
  margin: auto;
}
.m-zero {
  margin: 0;
}
.mt-16 {
  margin-top: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.p-zero {
  padding: 0;
}
.pt-8 {
  padding-top: 8px;
}
.pt-16 {
  padding-top: 16px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-16 {
  padding-bottom: 16px;
}
/*------------------------------------*\
  #HEIGHT
\*------------------------------------*/
.h-100 {
  height: 100%;
}
.h-100v {
  height: 100vh;
}
.mah-100 {
  max-height: 100%;
}

/*------------------------------------*\
  #WIDTH
\*------------------------------------*/
.w-100 {
  width: 100%;
}
.w-100v {
  width: 100vw;
}
.maw-100 {
  max-width: 100%;
}
/*------------------------------------*\
  #TEXT
\*------------------------------------*/
.ws-nowrap {
  white-space: nowrap;
}
.wb-break-word {
  word-break: break-word;
}
.fw-700 {
  font-weight: 700;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.ta-center {
  text-align: center;
}
.bs-none {
  box-shadow: none;
}
.bg-transparent {
  background: transparent !important;
}
/*------------------------------------*\
    #DISPLAY
  \*------------------------------------*/
.hidden,
[hidden],
a[href="#"].hide-no-link,
a[href^="/"].hide-no-link ~ span,
.d-none {
  display: none;
}
.d-none-important,
.hide-empty:empty {
  display: none !important;
}
.visible-xs {
  visibility: visible;
}
.hidden-xs {
  visibility: hidden;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
/*------------------------------------*\
    #FLEXBOX
  \*------------------------------------*/
.flex-1 {
  flex: 1;
}
.fg-1 {
  flex-grow: 1;
}
.fs-0 {
  flex-shrink: 0;
}
.fw-wrap {
  flex-wrap: wrap;
}
.fw-nowrap {
  flex-wrap: nowrap;
}
.fd-row {
  flex-direction: row;
}
.fd-row-reverse {
  flex-direction: row-reverse;
}
.fd-column {
  flex-direction: column;
}
.fd-column-reverse {
  flex-direction: column-reverse;
}
.start-xs {
  justify-content: flex-start;
}
.end-xs {
  justify-content: flex-end;
}
.center-xs {
  justify-content: center;
}
.between-xs {
  justify-content: space-between;
}
.around-xs {
  justify-content: space-around;
}
.top-xs {
  align-items: flex-start;
}
.bottom-xs {
  align-items: flex-end;
}
.middle-xs {
  align-items: center;
}
/*------------------------------------*\
    #GRID
\*------------------------------------*/
.c-gap-32 {
  column-gap: 32px;
}
.r-gap-24 {
  row-gap: 24px;
}
.r-gap-48 {
  row-gap: 48px;
}
[style*="--gc-xs"] {
  grid-column: var(--gc-xs);
}
[style*="--gr-xs"] {
  grid-row: var(--gr-xs);
}
[style*="--gtc-equal"] {
  grid-template-columns: repeat(var(--gtc-equal), 1fr);
}
/*------------------------------------*\
  #OPACITY
\*------------------------------------*/
.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 1;
}
/*------------------------------------*\
  #OVERFLOW
\*------------------------------------*/
.o-hidden {
  overflow: hidden;
}
.o-visible {
  overflow: visible;
}
.o-scroll {
  overflow: scroll;
}
.o-auto {
  overflow: auto;
}
.ox-auto {
  overflow-x: auto;
}
.oy-scroll {
  overflow-y: scroll;
}
.oy-auto {
  overflow-y: auto;
}

/*------------------------------------*\
  #POSITION
\*------------------------------------*/
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.bottom-16 {
  bottom: 16px;
}
.middle-y {
  top: 50%;
  transform: translateY(-50%);
}
.middle-x {
  left: 50%;
  transform: translateX(-50%);
}
/*------------------------------------*\
  #BORDER
\*------------------------------------*/
.b-zero {
  border: none !important;
}
.br-50p {
  border-radius: 50%;
}
.br-zero {
  border-radius: 0;
}
/*------------------------------------*\
  #Z-INDEX
\*------------------------------------*/
.zi-1 {
  z-index: 1;
}
.zi-2 {
  z-index: 2;
}
.zi-3 {
  z-index: 3;
}
.zi-6 {
  z-index: 6;
}
.zi-7 {
  z-index: 7;
}
.zi-9 {
  z-index: 9;
}
.zi-m-1 {
  z-index: -1;
}
/*------------------------------------*\
  #CURSOR
\*------------------------------------*/
.c-pointer {
  cursor: pointer;
}
.c-zoom-in {
  cursor: zoom-in;
}
.pe-none {
  pointer-events: none;
}
/*------------------------------------*\
  #ACCESSIBILITY
\*------------------------------------*/
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  transition: none;
}
/*------------------------------------*\
  # OBJECT FIT
\*------------------------------------*/
.op-top {
  object-position: top;
}
.of-cover {
  object-fit: cover;
}
.of-contain {
  object-fit: contain;
}
.center-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*------------------------------------*\
    #MEDIA: Helper for all Media
\*------------------------------------*/
.media-wrapper,
.media {
  aspect-ratio: var(--ratio);
}
.media {
  transition: 0.3s var(--timing-function-on);
}
@media (min-width: 769px) {
  [style*="--w-md"] {
    width: calc(var(--grid-ratio, 100%/12) * var(--w-md));
    max-width: calc(var(--grid-ratio, 100%/12) * var(--w-md));
  }
  [style*="--gc-md"] {
    grid-column: var(--gc-md);
  }
  [style*="--gr-md"] {
    grid-row: var(--gr-md);
  }
  [style*="--gtc-equal-md"] {
    grid-template-columns: repeat(var(--gtc-equal-md), 1fr);
  }
  .d-block-md {
    display: block;
  }
  .d-none-md {
    display: none;
  }
  .d-flex-md {
    display: flex;
  }
  .d-grid-md {
    display: grid;
  }
}
@media (min-width: 1025px) {
  .w-lg-auto {
    width: auto;
  }
  .d-none-lg {
    display: none;
  }
}